.hamburgerWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
}
.hamburger {
    
    width: 30px;
    height: 4px;
    background: #FFDEB9;
    border-radius: 0.75rem;
    transition: all .5s ease-in-out;
}

.hamburger::before, 
.hamburger::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 4px;
    background: white;
    border-radius: 0.75rem;
    transition: all .5s ease-in-out;
}

.hamburger::before {
    transform: translateY(-.75rem);
}

.hamburger::after {
    transform: translateY(.75rem);
}

.hamburgerWrapper.open .hamburger {
    transform: translateX(-50px);
    background: transparent;
}

.hamburgerWrapper.open .hamburger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.hamburgerWrapper.open .hamburger::after {
    transform: rotate(-45deg) translate(35px,  35px);
}



